<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shake It Up.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7ADF63961E78B14F0010007A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ADF63AA1E78B14F0010007A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7ADF63B51E78B14F0010007A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
